page-merchants-items-list-modal {

    .primary {
        background-color: blue;
    }

    .danger {
        background-color: crimson;
    }

    ion-item {
        font-size: 1.8rem !important;
    }
}
