.tabbar {
  justify-content: center;
}

.tab-button {
  max-width: 200px;
}

.tab-button, .tab-button-icon {
  color: #6f6f6f;
  font-size: 2.7rem !important;
  span {
    font-size: 1.5rem !important;
  }
}