<ion-split-pane>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-content class="outer-content">
      <div class="side_menu_banner" padding>
        <a (click)="goToPerformancePage()" menuClose>
          <div class="banner_image">
            <ion-row *ngIf="providerData" align-items-center>
              <ion-col col-3>
                <img src="{{providerData.photograph ? providerData.photograph : 'assets/img/customimages/no_avatar.svg'}}"/>
              </ion-col>
              <ion-col >
                <p>
                  <strong class="white-color">{{providerData.firstName}} {{providerData.lastName}}</strong>
                </p>
              </ion-col>
            </ion-row>
          </div>
        </a>
      </div>

      <ion-list>
       <!-- <ion-list-header>
          Navigate
        </ion-list-header>-->
        <br/>
        <button ion-item no-lines menuClose side-menu *ngFor="let p of appPages" (click)="openPage(p)" 
          [class.active]="checkActivePage(p) || isActive(p)" >
          <ion-icon item-start [name]="p.icon" ></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <hr/>
      <ion-list>
        <button ion-item no-lines menuClose (click)="getURL('ArtisanFAQUrl')" class="bold-font">
          <ion-icon item-start name="help-circle-outline" ></ion-icon>
          FAQ
        </button>
      </ion-list>

    </ion-content>

    <ion-footer>
      <button ion-item no-lines menuClose (click)="logOut()" class="bold-font">
        <ion-icon item-start name="log-out"></ion-icon>
        Log Out
      </button>
    </ion-footer>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
