page-job-owner-detail {
  .job-detail{
    img {
      max-width: 140px;
      border-radius: 50%;
    }

    p {
      color: #60646B;
    }

    ion-icon {
      font-size: 2.0em !important;
    }
  }

}

