page-rate-user-modal {
    h3 {
        font-size: 1.3em;
    }

    rating {
        font-size: 1.0em;
    }

    ul {
        padding-inline-start: 0 !important;
        text-align: center;
        &.rating li {
            color: #ffb400;
            padding: 5px 5px;
        }           
    }
}
